.twitter__container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 5px;
    -webkit-box-shadow: 0px 12px 10px -6px rgba(20,133,161,1);
-moz-box-shadow: 0px 12px 10px -6px rgba(20,133,161,1);
box-shadow: 0px 12px 10px -6px rgba(20,133,161,1);
}

.twitter__header {
    height: 80px;
    background: black;
    color: white;
    border-radius: 3px 3px 0px 0px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
}


.twitter__header img {
    height: 30px;
    width: 30px;
    margin-left: 4vw;
    margin-right: auto;   
}

.twitter__header div {
    margin-right: 10vw;
    margin-left: auto;
}

.twitter__main{
    padding-top: 10px;
    font-family: 'Arial';
    overflow-y: scroll;
    box-shadow: 0px 0px 10px inset black; 
}

.twitter__tweet {
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
}

.twitter__tweet h4 {
    margin: 0px;
    align-items: center;
}

@media (min-width: 400px) {
    .twitter__header img {
        margin-left: 30px;
        margin-right: -55px;   
    }
    
    .twitter__header div {
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 769px){
    .twitter__container{
        width: 40vw;
        height: 60vh;
    }
}