.footer {
    width: 100%;
    color: white;
    background-color: black;
    padding-top: 5px;
    height: 220px;
    bottom: 0;
    left: 0;
    z-index: 1000;
}
.footer__text {
    bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    font-size: 12px;
}

.footer__logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: inline-flex;
    justify-content: space-between;
}

.footer__logo a {
    margin-left: 10px;
    margin-right: 10px;
}

.footer__logo-name {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: inline-flex;
    justify-content: space-between;
    padding-top: 20px;
}

.footer__navigation-items{
    display: flex;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

.spacer {
    height: 20px;
}