.slider {
    height: 360px;
    width: 100%;
    position: relative;
    margin: 0 auto;
    box-shadow: 0px 20px 25px black;
}

.slide {
    height: 360px;
    width: 100%;
    display: flex;
    flex: 0 0 auto;
}

.slider-wrapper {
    height: 360px;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
}

.slider-arrows-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.spacer{
    flex: 0.5;
}

.backArrow, .nextArrow {
    margin: 1rem;
}

@media (min-width: 420px) {
    .slider {
        height: 360px;
        width: 100%;
        position: relative;
        margin: 0 auto;
        box-shadow: 0px 20px 25px black;
        top: 18px;
    }

    .slide {
        height: 360px;
        width: 100%;
        display: flex;
        flex: 0 0 auto;
    }

    .slider-wrapper {
        height: 360px;
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        z-index: -100;
    }
}

@media (min-width: 769px) {
    .slider {
        height: 30rem;
        width: 750px;
        position: relative;
        margin: 0 auto;
        box-shadow: 0px 20px 25px black;
    }

    .slide {
        height: 30rem;
        width: 750px;
        display: flex;
        flex: 0 0 auto;
        background-color: white;
    }

    .slider-wrapper {
        height: 30rem;
        width: 100%;
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        z-index: -100;
    }
}